<% content_for :title, "New estado equipo" %>

<h1>New estado equipo</h1>

<%= render "form", estado_equipo: @estado_equipo %>

<br>

<div>
  <%= link_to "Back to estado equipos", estado_equipos_path %>
</div>
