<% content_for :title, "Editing entrega film" %>

<h1>Editing entrega film</h1>

<%= render "form", entrega_film: @entrega_film %>

<br>

<div>
  <%= link_to "Show this entrega film", @entrega_film %> |
  <%= link_to "Back to entrega films", entrega_films_path %>
</div>
