<div id="<%= dom_id enfundado %>">
  <div><strong>Operador:</strong> <%= enfundado.operador %></div>
  <div><strong>Fecha:</strong> <%= enfundado.fecha %></div>
  <div><strong>Turno:</strong> <%= enfundado.turno %></div>
</div>